CONFIG_ARM=y
CONFIG_ARCH_S32G2=y
CONFIG_CUSTOM_SYS_TEXT_BASE=y
CONFIG_SYS_TEXT_BASE=0xffaa0000
CONFIG_CUSTOM_SYS_DATA_BASE=y
CONFIG_SYS_DATA_BASE=0xffa00000
CONFIG_EXTRA_KERNEL_BOOT_ARGS="hpe_args=${pfeaddr},${pfe1addr},${pfe2addr}"
CONFIG_ENV_OFFSET=0xa000
# CONFIG_SPI_FLASH_BAR is not set
CONFIG_ENV_IS_IN_MMC=y
CONFIG_ENV_SIZE=0x1e00
CONFIG_TARGET_S32G2XXAEVB=y
CONFIG_TARGET_S32GEN1_HPER_GEN2=y
CONFIG_HPER_GEN2_BOOTLOADER=y
CONFIG_HPER_GEN2_BANK_MGMT=y
CONFIG_ENV_VARS_UBOOT_CONFIG=y
# CONFIG_FIT is not set
CONFIG_BOOTDELAY=0
# CONFIG_CMD_EEPROM is not set
# CONFIG_CMD_MD5SUM is not set
# CONFIG_CMD_MEMTEST is not set
# CONFIG_CMD_LZMADEC is not set
# CONFIG_CMD_UNZIP is not set
# CONFIG_CMD_ADC is not set
# CONFIG_CMD_FUSE is not set
# CONFIG_CMD_GPIO is not set
# CONFIG_CMD_I2C is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_SF is not set
# CONFIG_CMD_EXT2 is not set
# CONFIG_CMD_EXT4 is not set
CONFIG_CMD_SECUREBOOT=y
# CONFIG_CMD_FAT is not set
# CONFIG_DOS_PARTITION is not set
CONFIG_EFI_PARTITION=y
# CONFIG_NET is not set
# CONFIG_ADC is not set
# CONFIG_SARADC_S32CC is not set
CONFIG_HSE_SECBOOT=y
CONFIG_CRYPTO_DEV_NXP_HSE_MU2=y
# CONFIG_SYS_I2C_MXC is not set
# CONFIG_DM_ETH is not set
# CONFIG_PCI is not set
# CONFIG_PINCTRL_GENERIC is not set
# CONFIG_PINCONF_RECURSIVE is not set
# CONFIG_DM_PMIC is not set
# CONFIG_USB is not set
# CONFIG_FS_FAT is not set
CONFIG_REGEX=y
CONFIG_SHA1=y
CONFIG_SHA256=y
# CONFIG_GZIP is not set
# CONFIG_EFI_LOADER is not set
CONFIG_DISPLAY_CPUINFO=n
CONFIG_NR_DRAM_BANKS=1
CONFIG_ARMV8_SEC_FIRMWARE_SUPPORT=y
