CONFIG_ARM=y
CONFIG_ARCH_S32G3=y
# CONFIG_FSL_PFENG is not set
CONFIG_NR_DRAM_BANKS=1
CONFIG_TARGET_S32G3XXAEVB=y
CONFIG_QSPI_BOOT=y
CONFIG_LOG_DEFAULT_LEVEL=9
# CONFIG_I2C_EEPROM is not set
CONFIG_MMC_IO_VOLTAGE=y
CONFIG_SPL_MMC_HS200_SUPPORT=y
# CONFIG_PHY_AQUANTIA is not set
# CONFIG_PHY_FIXED is not set
CONFIG_MII=y
# CONFIG_DM_PMIC_VR5510 is not set
# CONFIG_TIMER is not set
CONFIG_USB_ULPI_VIEWPORT=y
# CONFIG_EFI_LOADER is not set
