CONFIG_ARM=y
CONFIG_ARCH_S32G3=y
# CONFIG_SPI_FLASH_BAR is not set
CONFIG_TARGET_S32G3XXAEVB=y
CONFIG_HSE_SECBOOT=y
CONFIG_HSE_FW_FILE="/home/uic56995/rev1.1_s32g3xx_hse_fw_0.20.1_2.16.1_pb221011.bin.pink"
CONFIG_SD_BOOT=y
CONFIG_USB_ULPI_VIEWPORT=y
